{% extends 'base.html.twig' %}

{% block title %}Nouvelle année{% endblock %}

{% block body %}
<div class="container" style=" text-align: center;">
    <h3 ><br>Ajouter une année</h3>
	
    {{ include('admin/annee/_form.html.twig') }}
</div>
    	
{% endblock %}
