<form method="post" action="{{ path('app_cours_enseignant_delete', {'id': cours_enseignant.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cours_enseignant.id) }}">
    <button class="btn">Delete</button>
</form>
