{% extends 'base.html.twig' %}

{% block title %}New CoursEnseignant{% endblock %}

{% block body %}
    <h1>Create new CoursEnseignant</h1>

    {{ include('admin/cours_enseignant/_form.html.twig') }}

    <a href="{{ path('app_cours_enseignant_index') }}">back to list</a>
{% endblock %}
