<form method="post" action="{{ path('app_u_e_delete', {'id': u_e.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ u_e.id) }}">
    <button class="btn btn-danger">Retirer de la base</button>
</form>
