{% block body %}
<div class="example-wrapper">
    <a class="navbar-brand" href="/admin">Connexion Admin</a>
</div>
<div>
    <a class="navbar-brand" href="/ens">Connexion Enseignant</a>
</div>
{% endblock %}
